/* 
 * Override the default theme in this file
 * I.e. by using Theme Roller
 * http://jquerymobile.com/themeroller
 */
.ui-header .ui-title { margin-left: 1em; margin-right: 1em; }
.ui-li-heading { margin-top: 0.3em; }
.ui-li-aside { width: 35%; }
 