/* 
 * Theme for DIF Alpin
 */
.ui-bar-a {
	border: 1px solid #ed1c24 /*{a-bar-border}*/;
	background: #ed1c24 /*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
}

.ui-bar-b {
	border: 1px solid #ed1c24 /*{a-bar-border}*/;
	background: #ed1c24 /*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
}

.ui-btn-up-a {
	border: 1px solid  		#ccc  /*{a-bup-border}*/;
	background:  			#eee  /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #0c0d0d /*{a-bup-color}*/;
	text-shadow:  0  /*{a-bup-shadow-x}*/  1px  /*{a-bup-shadow-y}*/  1px  /*{a-bup-shadow-radius}*/  #f6f6f6  /*{a-bup-shadow-color}*/;
}
.ui-btn-up-a a.ui-link-inherit {
	color: #0c0d0d /*{a-bup-color}*/;
}

.ui-btn-hover-a {
	border: 1px solid  		#bbbbbb  /*{a-bhover-border}*/;
	background:  			#dadada  /*{a-bhover-background-color}*/;
	font-weight: bold;
	color:  					#2F3E46  /*{a-bhover-color}*/;
	text-shadow:  0  /*{a-bhover-shadow-x}*/  1px  /*{a-bhover-shadow-y}*/  1px  /*{a-bhover-shadow-radius}*/  #fff  /*{a-bhover-shadow-color}*/;
}
.ui-btn-hover-a a.ui-link-inherit {
	color:  					#2F3E46  /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid  		#808080  /*{a-bdown-border}*/;
	background:  			#fdfdfd  /*{a-bdown-background-color}*/;
	font-weight: bold;
	color:  					#2F3E46  /*{a-bdown-color}*/;
	text-shadow:  0  /*{a-bdown-shadow-x}*/  1px  /*{a-bdown-shadow-y}*/  1px  /*{a-bdown-shadow-radius}*/  #ffffff  /*{a-bdown-shadow-color}*/;
}
.ui-btn-down-a a.ui-link-inherit {
	color:  					#2F3E46  /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	 font-family: Helvetica, Arial, sans-serif  /*{global-font-family}*/;
	text-decoration: none;
}

