.ui-bar-a {
	border: 1px solid #ed1c24 /*{a-bar-border}*/;
	background: #ed1c24 /*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FF1E27 /*{a-bar-background-start}*/), to( #D51920 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FF1E27 /*{a-bar-background-start}*/, #D51920 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FF1E27 /*{a-bar-background-start}*/, #D51920 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FF1E27 /*{a-bar-background-start}*/, #D51920 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FF1E27 /*{a-bar-background-start}*/, #D51920 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FF1E27 /*{a-bar-background-start}*/, #D51920 /*{a-bar-background-end}*/);
}

.ui-bar-b {
	border: 1px solid #ed1c24 /*{a-bar-border}*/;
	background: #ed1c24 /*{a-bar-background-color}*/;
	color: #ffffff /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow:  0  /*{a-bar-shadow-x}*/  1px  /*{a-bar-shadow-y}*/  1px  /*{a-bar-shadow-radius}*/ #444444 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FF1E27 /*{a-bar-background-start}*/), to( #D51920 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FF1E27 /*{a-bar-background-start}*/, #D51920 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FF1E27 /*{a-bar-background-start}*/, #D51920 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FF1E27 /*{a-bar-background-start}*/, #D51920 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FF1E27 /*{a-bar-background-start}*/, #D51920 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FF1E27 /*{a-bar-background-start}*/, #D51920 /*{a-bar-background-end}*/);
}

.ui-btn-up-a {
	border: 1px solid  		#ccc  /*{a-bup-border}*/;
	background:  			#eee  /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #0c0d0d /*{a-bup-color}*/;
	text-shadow:  0  /*{a-bup-shadow-x}*/  1px  /*{a-bup-shadow-y}*/  1px  /*{a-bup-shadow-radius}*/  #f6f6f6  /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #fdfdfd  /*{a-bup-background-start}*/), to(  #eee  /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #fdfdfd  /*{a-bup-background-start}*/,  #eee  /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #fdfdfd  /*{a-bup-background-start}*/,  #eee  /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #fdfdfd  /*{a-bup-background-start}*/,  #eee  /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #fdfdfd  /*{a-bup-background-start}*/,  #eee  /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #fdfdfd  /*{a-bup-background-start}*/,  #eee  /*{a-bup-background-end}*/);
}
.ui-btn-up-a a.ui-link-inherit {
	color: #0c0d0d /*{a-bup-color}*/;
}

.ui-btn-hover-a {
	border: 1px solid  		#bbbbbb  /*{a-bhover-border}*/;
	background:  			#dadada  /*{a-bhover-background-color}*/;
	font-weight: bold;
	color:  					#2F3E46  /*{a-bhover-color}*/;
	text-shadow:  0  /*{a-bhover-shadow-x}*/  1px  /*{a-bhover-shadow-y}*/  1px  /*{a-bhover-shadow-radius}*/  #fff  /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #ededed  /*{a-bhover-background-start}*/), to(  #dadada  /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #ededed  /*{a-bhover-background-start}*/,  #dadada  /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #ededed  /*{a-bhover-background-start}*/,  #dadada  /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #ededed  /*{a-bhover-background-start}*/,  #dadada  /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #ededed  /*{a-bhover-background-start}*/,  #dadada  /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	backgroundmobile-timing-theme.cssmobile-timing-theme.cssmobile-timing-theme.css-image:         linear-gradient(  #ededed  /*{a-bhover-background-start}*/,  #dadada  /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a a.ui-link-inherit {
	color:  					#2F3E46  /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid  		#808080  /*{a-bdown-border}*/;
	background:  			#fdfdfd  /*{a-bdown-background-color}*/;
	font-weight: bold;
	color:  					#2F3E46  /*{a-bdown-color}*/;
	text-shadow:  0  /*{a-bdown-shadow-x}*/  1px  /*{a-bdown-shadow-y}*/  1px  /*{a-bdown-shadow-radius}*/  #ffffff  /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(  #eee  /*{a-bdown-background-start}*/), to(  #fdfdfd  /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(  #eee  /*{a-bdown-background-start}*/,  #fdfdfd  /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(  #eee  /*{a-bdown-background-start}*/,  #fdfdfd  /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(  #eee  /*{a-bdown-background-start}*/,  #fdfdfd  /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(  #eee  /*{a-bdown-background-start}*/,  #fdfdfd  /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(  #eee  /*{a-bdown-background-start}*/,  #fdfdfd  /*{a-bdown-background-end}*/);
}
.ui-btn-down-a a.ui-link-inherit {
	color:  					#2F3E46  /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	 font-family: Helvetica, Arial, sans-serif  /*{global-font-family}*/;
	text-decoration: none;
}

