(function() {
  var template = Handlebars.template, templates = Handlebars.templates = Handlebars.templates || {};
templates['index.html'] = template(function (Handlebars,depth0,helpers,partials,data) {
  this.compilerInfo = [2,'>= 1.0.0-rc.3'];
helpers = helpers || Handlebars.helpers; data = data || {};
  var buffer = "", stack1, stack2, functionType="function", escapeExpression=this.escapeExpression, self=this;

function program1(depth0,data) {
  
  var buffer = "", stack1;
  buffer += "\n	";
  stack1 = helpers['if'].call(depth0, depth0.group, {hash:{},inverse:self.noop,fn:self.program(2, program2, data),data:data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "\n	";
  stack1 = helpers['if'].call(depth0, depth0.link, {hash:{},inverse:self.noop,fn:self.program(4, program4, data),data:data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "\n	";
  return buffer;
  }
function program2(depth0,data) {
  
  var buffer = "", stack1;
  buffer += "\n	<li data-role=\"list-divider\">";
  if (stack1 = helpers.group) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.group; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + "</li>\n	";
  return buffer;
  }

function program4(depth0,data) {
  
  var buffer = "", stack1;
  buffer += "\n	<li class=\"listUlItem\" id=\""
    + escapeExpression(((stack1 = ((stack1 = depth0.link),stack1 == null || stack1 === false ? stack1 : stack1.url)),typeof stack1 === functionType ? stack1.apply(depth0) : stack1))
    + "\">\n	<a>"
    + escapeExpression(((stack1 = ((stack1 = depth0.link),stack1 == null || stack1 === false ? stack1 : stack1.label)),typeof stack1 === functionType ? stack1.apply(depth0) : stack1))
    + "</a>\n	</li>\n	";
  return buffer;
  }

function program6(depth0,data) {
  
  
  return "\n	<li data-role=\"list-divider\">Placerade</li>\n	";
  }

function program8(depth0,data) {
  
  var buffer = "", stack1;
  buffer += "\n	<li>\n	<h3>";
  if (stack1 = helpers.place) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.place; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + ". ";
  if (stack1 = helpers.name) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.name; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + "</h3>\n	<p>(";
  if (stack1 = helpers.number) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.number; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + ") ";
  if (stack1 = helpers.club) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.club; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + "</p>\n	<p class=\"ui-li-aside\"><strong>";
  if (stack1 = helpers.time) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.time; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + "</strong> (+";
  if (stack1 = helpers.diff) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.diff; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + ")";
  stack1 = helpers['if'].call(depth0, depth0.time2, {hash:{},inverse:self.noop,fn:self.program(9, program9, data),data:data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "</p>\n	</li>\n	";
  return buffer;
  }
function program9(depth0,data) {
  
  var buffer = "", stack1;
  buffer += "<br/><br/>";
  if (stack1 = helpers.time1) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.time1; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + " / ";
  if (stack1 = helpers.time2) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.time2; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1);
  return buffer;
  }

function program11(depth0,data) {
  
  
  return "\n	<li data-role=\"list-divider\">Ej placerade</li>\n	";
  }

function program13(depth0,data) {
  
  var buffer = "", stack1;
  buffer += "\n	<li>\n	<h3>";
  if (stack1 = helpers.name) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.name; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + "</h3>\n	<p>(";
  if (stack1 = helpers.number) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.number; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + ") ";
  if (stack1 = helpers.club) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.club; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + "</p>\n	<p class=\"ui-li-aside\"><strong>";
  if (stack1 = helpers.code) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.code; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + "</strong></p>\n	</li>\n	";
  return buffer;
  }

function program15(depth0,data) {
  
  var buffer = "", stack1;
  buffer += "\n	<li>\n	<h3>";
  if (stack1 = helpers.number) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.number; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + ". ";
  if (stack1 = helpers.name) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.name; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + "</h3>\n	<p>";
  if (stack1 = helpers.club) { stack1 = stack1.call(depth0, {hash:{},data:data}); }
  else { stack1 = depth0.club; stack1 = typeof stack1 === functionType ? stack1.apply(depth0) : stack1; }
  buffer += escapeExpression(stack1)
    + "</p>\n	";
  return buffer;
  }

  buffer += "<!DOCTYPE html>\n<html>\n<head>\n<title>${title}</title>\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"icon\" href=\"themes/current/images/favicon.ico\" type=\"image/vnd.microsoft.icon\" />\n<link rel=\"stylesheet\"\n	href=\"http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css\" />\n<link rel=\"stylesheet\" href=\"themes/current/theme.css\" />\n<script src=\"http://code.jquery.com/jquery-1.7.1.min.js\"></script>\n<script\n	src=\"http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js\"></script>\n<script type=\"text/javascript\" src=\"js/handlebars-1.0.0-rc.3.js\"></script>\n<script type=\"text/javascript\" src=\"themes/current/theme.js\"></script>\n<script type=\"text/javascript\" src=\"js/ssf-timing-mobile.js\"></script>\n</head>\n<body>\n	<div data-role=\"page\" id=\"mainPage\">\n		<div data-role=\"header\">\n			<img id=\"logo\" src=\"themes/current/images/logo.png\" class=\"ui-btn-left\" />\n			<h1 id=\"header\">${header}</h1>\n			<a href=\"#aboutPage\" data-rel=\"dialog\" data-icon=\"info\"\n				class=\"ui-btn-right\" data-iconpos=\"notext\">Om</a>\n		</div>\n\n		<div data-role=\"content\">\n			<ul data-role=\"listview\" data-inset=\"true\" id=\"mainUl\">\n			</ul>\n		</div>\n		<div data-role=\"footer\">\n			<h1 id=\"footer\">${footer}</h1>\n		</div>\n	</div>\n	<script id=\"event-template\" type=\"text/x-handlebars-template\">\n	";
  stack1 = helpers.each.call(depth0, depth0.items, {hash:{},inverse:self.noop,fn:self.program(1, program1, data),data:data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  buffer += "\n	</script>\n\n	<div data-role=\"page\" id=\"resultPage\">\n		<div data-role=\"header\">\n			<a href=\"#mainPage\" data-icon=\"back\" data-direction=\"reverse\"\n				class=\"ui-btn-left\" data-iconpos=\"notext\" data-transition=\"slidefade\">Tillbaka</a>\n			<h1 id=\"resultHeader\">Resultat</h1>\n			<a id=\"refreshButton\" data-icon=\"refresh\" class=\"ui-btn-right\"\n				data-iconpos=\"notext\">Ladda Om</a>\n		</div>\n\n		<div data-role=\"footer\" data-theme=\"e\" id=\"reloadMessage\"\n			style=\"display: none\">\n			<h1>Sidan har laddats om</h1>\n		</div>\n\n		<div data-role=\"content\">\n			<ul data-role=\"listview\" data-filter=\"true\"\n				data-filtertext=\"Filtrera\" id=\"resultUl\">\n			</ul>\n		</div>\n	</div>\n	<script id=\"result-template\" type=\"text/x-handlebars-template\">\n	";
  stack2 = helpers['if'].call(depth0, ((stack1 = depth0.items),stack1 == null || stack1 === false ? stack1 : stack1.ok), {hash:{},inverse:self.noop,fn:self.program(6, program6, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n	";
  stack2 = helpers.each.call(depth0, ((stack1 = depth0.items),stack1 == null || stack1 === false ? stack1 : stack1.ok), {hash:{},inverse:self.noop,fn:self.program(8, program8, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n	";
  stack2 = helpers['if'].call(depth0, ((stack1 = depth0.items),stack1 == null || stack1 === false ? stack1 : stack1.fail), {hash:{},inverse:self.noop,fn:self.program(11, program11, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n	";
  stack2 = helpers.each.call(depth0, ((stack1 = depth0.items),stack1 == null || stack1 === false ? stack1 : stack1.fail), {hash:{},inverse:self.noop,fn:self.program(13, program13, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n	</script>\n\n	<script id=\"startlist-template\" type=\"text/x-handlebars-template\">\n	";
  stack2 = helpers.each.call(depth0, depth0.items, {hash:{},inverse:self.noop,fn:self.program(15, program15, data),data:data});
  if(stack2 || stack2 === 0) { buffer += stack2; }
  buffer += "\n	</script>\n\n\n	<div data-role=\"page\" id=\"aboutPage\">\n		<div data-role=\"header\">\n			<h1>Om</h1>\n		</div>\n		<div data-role=\"content\">\n			<p>\n				<a href=\"https://github.com/flindskog/ssf-timing-mobile\" target=\"_blank\"><strong>SSF Online Mobilversion</strong></a><br/>\n				Version ${project.version} (${timestamp})\n			</p>\n			<p>\n				Mobilsidan ihopsnickrad av <a href=\"http://twitter.com/#!/lemoms\"\n					target=\"_blank\">Fredrik Lindskog</a>, DIF Alpin.\n				Synpunkter och förbättringsförslag mottages tacksamt.\n			</p>\n			<p>\n				Vanliga sajten finns <a href=\"index.htm\" target=\"_blank\">h&auml;r</a>.\n			</p>\n		</div>\n	</div>\n\n</body>\n</html>";
  return buffer;
  });
})();